<!DOCTYPE html>
html(lang="en")
head
	include pug/header
body
	.wrapper
		header
			img(src="img/logo_movile.png", alt="logo da movile")
			p Brand identity
		section.logo
			h1 Our logo
			p Click on the logo to download the files
			.flex
				div
					a(href="img/preferenciais/download/logo-movile-fundo-claro.zip" download)
						img(src="img/preferenciais/duascores-fundo-branco.png", alt="logo movile fundo branco")
					a(href="img/preferenciais/download/logo-movile-fundo-magenta.zip" download)
						img(src="img/preferenciais/duascores-fundo-magenta.png", alt="logo movile fundo branco")
					a(href="img/preferenciais/download/logo-movile-fundo-preto.zip" download)
						img(src="img/preferenciais/duascores-fundo-preto.png", alt="logo movile fundo branco")
				div
					a(href="img/preferenciais/download/logo-movile-preto.zip" download)
						img(src="img/preferenciais/monocor-fundo-branco.png", alt="logo movile fundo branco")
					a(href="img/preferenciais/download/logo-movile-branco.zip" download)
						img(src="img/preferenciais/monocor-fundo-magenta.png", alt="logo movile fundo branco")
					a(href="img/preferenciais/download/logo-movile-branco.zip" download)
						img(src="img/preferenciais/monocor-fundo-preto.png", alt="logo movile fundo branco")
		section.color
			h1 Colors
			p These are the official colors of Movile
			.flex.mt
				div
					h2.magenta Magenta
					h3 #BA007C
					h3 R235 G0 B139
					h3 C0 M100 Y0 K0
				div
					h2.black Black
					h3 #000000
					h3 R0 G0 B0
					h3 C0 Y0 M0 K100
				div
					h2.white White
					h3 #FFFFFF
					h3 R255 G255 B255
					h3 C0 M0 Y0 K0
		section.typography
			h1 Typography
			p Our institutional font for web & print